body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF;
}

/* reset */


ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

h1,h2, h3, h4, h5 ,h6, p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}



/* Header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
display: flex;
align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17 ;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.nav-link:hover, .nav-link:focus {
color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
      
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* Hero Section */

.hero-section {
background-color: #2e2f42;
padding: 188px 0;

}



.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px ;
        margin: 0 auto;
        margin-bottom: 48px;
      
        
}
.hero-button {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        padding: 16px 32px;
        display: block;
        margin: 0 auto;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
}

.hero-button:hover, .hero-button:focus {
    background-color: #404bbf;
}


/* Features section */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features {
    padding: 120px 0;
}

.title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        
}

.features-list {
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.sub {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* Our Team */

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
    
}

.team-list {
    display: flex;
    gap: 24px;
}
.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
   }

   .team-subtitle {
    margin-bottom: 8px;
   }

.team-item-container {
    padding: 32px 0;
    text-align: center;
}

/* our portfolio */

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
 margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


/* footer section */

.footer {
    background-color: #2e2f42;
    padding: 100px 0px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo .logo-part {
   color: #f4f4fd;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
}
